{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock extra_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-wrap">
                    <ul class="navbar-menu">
                        <li>
                            <a href="/" class="navbar-brand">
                                <img src="{% static 'img/logo.png' %}" alt="Логотип">
                            </a>
                        </li>
                        <li><a href="/" class="navbar-item">Главная</a></li>
                        <li><a href="#" class="navbar-item">Сообщения</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url "users:profile_user " %}" class="navbar-item">Профиль</a></li>
                        {% else %}
                            <li><a href="{% url "users:login" %}" class="navbar-item">Войти</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url "blog:add_post" %}" class="navbar-item-create">Создать</a></li>
                        {% else %}
                            <li><a href="{% url "users:login" %}" class="navbar-item-create">Создать</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
