{% extends 'blog/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_page.css' %}">
{% endblock extra_css %}
{% block title %}GraffGram{% endblock title %}

{% block content %}
        <div class="post__wrapper__card">
            {% for post in posts  %}
                <div class="post_card">
                    <div class="post_header">
                        {% if post.status == 'Жива' %}
                            <div class="status_image">{{post.status}}</div>
                        {% endif %}
                        <div class="user_avatar">
                            {% if post.author.is_verified %}
                                <img src="{{user.image.url}}" alt="user-avatar" class="user__avatar">
                                <span class="username">{{post.author}}</span>
                                <img src="{% static 'img/verificated.png' %}" class="img-verified">
                            {% else %}
                            <img src="{{user.image.url}}" alt="user-avatar" class="user__avatar">
                            <span class="username">{{post.author}}</span>
                            {% endif %}
                        </div>
                    </div>    
                    <div class="post_content">
                        <img src="{{post.image.url}}" alt="">
                        <div class="post_description">
                            <span class="post_description_span">{{post.description|truncatechars:50}}</span>
                        </div>
                    </div>
                    <div class="post_footer">
                        <form action="{% url 'blog:like_post' post_id=post.id %}" method="post">
                            {% csrf_token %}
                            <button class="like-btn" id="like-btn-{{ post.id }}" data-post-id="{{ post.id }}">
                                <ion-icon name="heart" class="{% if user in post.likes.all %}liked{% else %}unliked{% endif %}"></ion-icon>
                            </button>
                        </form>
                        <span id="like-count-{{ post.id }}" class="count_likes">{{ post.likes.count }}</span>
                        <div class="comment">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </div>
                        <div class="comment_section">
                            <form action="{% url 'blog:add_comment' post_id=post.id %}" class="comment-form" method="post">
                                {% csrf_token %}
                                <div class="comment-box">
                                    <img src="{{ user.image.url }}" alt="avatar" class="comment-avatar">
                                    <textarea name="content" class="comment-input" placeholder="Комментарий здесь!"></textarea>
                                    <button type="submit" class="comment-submit-btn">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{% static 'js/like.js' %}"></script>
{% endblock content %}
