@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body{
    max-width: 1000px;
    overflow-x: hidden;
    font-family: "Overpass", serif;
}

.navbar{
    margin-top: 20px;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar .container{
    max-width: 1000px;
    margin: 0 auto  ;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu{  
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.navbar-menu li{
    display: inline-block;
    margin: 0 10px;
}


.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-brand img{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.navbar-item{
    font-size: 20px;
    text-decoration: none;
    color: #313131;
    transition: all .2s ease;
}

.navbar-item:hover{
    opacity: 50%;
}

.navbar-item-create {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: -1;
    width: 120px;
    height: 45px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: #315cfd; 
    color: white; 
    font-size: 1.2em;
    font-weight: 550;
    text-decoration: none; 
}

.navbar-item-create:hover {
    background: white;
    color: #315cfd;
    border: 3px solid #315cfd;
}