.post__wrapper__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.post_card{
    background-color: rgba(0, 0, 0, 0.055);
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    width: 600px;
    height: 600px;
    border-radius: 15px;
    align-items: flex-start;
}

.post_card:last-child{
    margin-bottom: 100px;
}


.post_header{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    max-height: 70px;
    justify-content: space-between;
    align-items: center;
}

.status_image{
    order: 2;
    margin-right: 20px;
}

.user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255,255,255,0.13); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.img-verified {
    width: 15px;
    height: 15px;
    margin-left: -5px; 
    position: relative;
    z-index: 2; 
}

.user_avatar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.post_content img {
    width: 100%;         
    height: auto;        
    max-height: 400px;   
    object-fit: cover;   
    background-color: black;
}

.post_footer{
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}



.count_likes {
    font-size: 14px;
    color: #333;
    margin-top: 10px; 
    font-weight: bold;
    text-align: center;
}

.like-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
    margin-top: 3px;
}

.like-btn:active {
    transform: scale(1.2);
}

ion-icon {
    font-size: 32px;
    color: black;
    transition: color 0.3s ease-in-out;
}


.liked {
    color: red;
    fill: red;
}


.unliked {
    color: black;
    fill: none;
}

.comment, .detail_post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; 
}