.post-detail-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-detail-image {
    flex: 1;
    max-width: 1000px; /* Уменьшил ширину */
    height: 200%; /* Чтобы не оставалось пустого места */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-detail-image img {
    width: 100%;
    height: 100%; /* Заполняем контейнер */
    object-fit: cover; /* Обрезаем лишнее */
}

.post-detail-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

.user-info .username {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.post-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.comments-section {
    margin-top: 20px;
}

.comments-section h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
}

.comment-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
}

.comment-list li strong {
    font-weight: bold;
    color: #007bff;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.comment-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    resize: none; /* Блокируем изменение размера */
    overflow: auto; /* Если текст превышает высоту, появляется скролл */
}

.comment-input::placeholder {
    color: #aaa;
}

.comment-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-button:hover {
    background-color: #0056b3;
}

.time_created {
    display: block;
    font-size: 12px;
    color: #888;
    text-align: left;
    padding-top: 5px;
}
