.profile-wrapper{
    display: flex;
    align-items: center;
    justify-self: center;
    
}

.profile-card{
    width: 650px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.055);
    margin-top: 50px;
    border-radius: 15px;
}

.user-info{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.avatar-user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.24);
    background-color: rgba(0, 0, 0, 0.24);
    position: relative;

}


.avatar-user img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 120px;
    height: 120px;
}